@media only screen and (max-width: 768px) {
    .nav-list{
        position: absolute;
        top: 8vh;
        height: 0;
        width: 50vw;
        height: 92vh;
        background: blueviolet;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    picture{
        flex-direction: column;
        width: 70%;
    }

    picture img{
        width: 70%;
    }

    section.pq-nos p{
        margin-bottom: 200px;
    }

    .pq-nos .cards{
        flex-direction: column;
        margin: 0 auto;
        width: 90%;

    }

    .cards .cards-item{
        width: 100%;
        margin-top: -100px;
    }

    .cards .cards-item p{
        margin-bottom: 0px;
    }

    .beneficios{
        width: 90%;
        flex-direction: column;
        margin: 0 auto;
    }

    .beneficios div{
        width: 100%;
    }

    .beneficios div > h1{
        text-align: center;
        padding-top: 100px;
    }

    .ben-itens p{
        font-size: .7rem;
    }

    .beneficios div > button{
        width: 100%;
    }

    .depoimentos-items{
        display: block;
        width: 100%;
    }

    .depoimentos-items .item-slider1{
        margin-top: 30px;
        width: 100%;
        text-align: center;
    }
    .depoimentos-items .item-slider2{
        margin-top: 30px;
        width: 100%;
        text-align: center;
    }
    .depoimentos-items .item-slider3{
        margin-top: 30px;
        width: 100%;
        text-align: center;
    }

    .formulario form{
        width: 100%;
    }


}