@media only screen and (max-width: 768px) {
    picture{
        flex-direction: column;
        width: 70%;
    }

    picture img{
        width: 70%;
    }

    section.pq-nos p{
        margin-bottom: 200px;
    }

    .pq-nos .cards{
        flex-direction: column;
        margin: 0 auto;
        width: 90%;

    }

    .cards .cards-item{
        width: 100%;
        margin-top: -100px;
    }

    .cards .cards-item p{
        margin-bottom: 0px;
    }

    .beneficios{
        width: 90%;
        flex-direction: column;
        margin: 0 auto;
    }

    .beneficios div{
        text-align: center;
        width: 100%;
    }

    .beneficios div > h1{
        padding-top: 100px;
    }




}