*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;

}

body{
    width: 100%;
    height: 100%;

    background-image: url(image/hero-bkg.svg);
    background-position: center center;
    background-repeat: no-repeat;
}


header.hero-bkg{
    width: 100%;
    height: 800px;

    margin-top: 20px;
    position: absolute;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    margin: 0 auto;
    width: 80vw;
    height: 100px;
}

header nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 50px;
}

header nav ul li{
    padding: 5px 20px 5px 20px;
}

header nav ul li:nth-child(1){
    border-bottom: 3px solid yellow;
}

header nav ul li:nth-child(4){
    border-radius: 5px;
    background-color: #0F3FD3;
}


header nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
}


section.slogan{
    margin: 0 auto;
    width: 80vw;
}

.slogan > h3{
    margin-top: 50px;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    line-height: 0px;

    color: #ffffff;
}
.slogan > h3 > strong{
    font-size: 2rem;
}