*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;

}

body{
    width: 100%;
    height: 100%; 
}


header.hero-bkg{
    width: 100%;
    height: 800px;

    background-image: url(image/hero-bkg.svg);
    background-position: center center;
    background-repeat: no-repeat;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    margin: 0 auto;
    width: 80vw;
    height: 100px;
}


header nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
}

header nav ul li{
    padding: 5px 15px 5px 15px;
    
}

header nav ul li:nth-child(4){
    border-radius: 5px;
    background-color: #0F3FD3;
}

header nav ul button{
    padding: 5px 15px 5px 15px;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    background-color: #0F3FD3;
    color: #ffffff;

}

header nav ul li a{
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;

    color: #ffffff;
}

header nav ul li a:hover{
    border-bottom: 3px solid #FFDD33;
}

section.slogan{
    margin: 0 auto;
    width: 80vw;
}

.slogan > h3{
    margin-top: 50px;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: -35px;

    color: #ffffff;
}
.slogan > h3 > strong{
    font-size: 2rem;
}

.slogan p{
    font-size: 0.8rem;
    margin-bottom: 50px;
}

.slogan img{
    width: 65%;
}

picture{
    margin: 0 auto;
    width: 80vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

picture > img{
    width: 16vw;
}

section.pq-nos{
    width: 100%;
    display: flex;
    flex-direction: column;

}

section.pq-nos h1{
    font-size: 2rem;
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;

    color: #040404;
}

section.pq-nos p{
    text-align: center;
    font-size: 0.8rem;

    color: #7E92AC;
}