*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;

}

body{
    width: 100%;
    height: 100%; 
}


header.hero-bkg{
    width: 100%;
    height: 930px;

    background-image: url(image/hero-bkg.svg);
    background-position: center center;
    background-repeat: no-repeat;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    margin: 0 auto;
    width: 80vw;
    height: 100px;
}


header nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
}

header nav ul li{
    padding: 5px 15px 5px 15px;
    
}

header nav ul li:nth-child(4){
    border-radius: 5px;
    background-color: #0F3FD3;
}

header nav ul button{
    padding: 5px 15px 5px 15px;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    background-color: #0F3FD3;
    color: #ffffff;

}

header nav ul li a{
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;

    color: #ffffff;
}

header nav ul li a:hover{
    border-bottom: 3px solid #FFDD33;
}

section.slogan{
    margin: 0 auto;
    width: 100%;
}

.slogan > h3{
    margin-top: 50px;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: -35px;

    color: #ffffff;
}
.slogan > h3 > strong{
    font-size: 2.5rem;
}

.slogan p{
    font-size: 1rem;
    margin-bottom: 50px;
}

.slogan img{
    max-width: 100%;
}

picture{
    margin: 0 auto;
    width: 80vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

picture > img{
    width: 16vw;
}

section.pq-nos{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    background-color: #FBFCFE;

}

section.pq-nos > h1{
    font-size: 2rem;
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;

    color: #040404;
}

section.pq-nos > p{
    text-align: center;
    font-size: 0.8rem;

    color: #7E92AC;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    gap: 25px;
}

.cards .cards-item{
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 25vw;

    box-shadow: 0px 20px 40px #2426721C;
    border-radius: 10px;
}

.cards .cards-item img{
    margin-left: -10px;
}

.cards .cards-item h1{
    font-size: 1rem;
    padding: 20px;
}

.cards .cards-item p{
    font-size: 0.8rem;
    padding: 20px;

    color: #7E92AC;
}

.banner{
    width: 100%;

    background-image: url(image/banner-img.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    text-align: center;
}

.banner h1{
    font-size: 1.8rem;
    padding: 50px 0px 20px;

    color: #ffffff;

}

.banner p{
    font-size: 0.8rem;

    color: #ffffff;
}

.banner button{
    padding: 10px 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    font-weight: bold;
    font-size: 0.8rem;

    color: #0F3FD3;
    background-color: #FFDD33;
    box-shadow: 0px 0px 10px 0px #0000008a;
}

.beneficios{
    width: 80vw;
    margin: 0 auto;
    margin-top: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.beneficios > div{
    width: 50%;
}

.beneficios > div > h1{
    font-size: 2.3rem;
}


.ben-itens{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 65%;
}

.ben-itens img{
    margin: 0px -10px -15px -30px;
}

.ben-itens p{
    font-size: .7rem;

    color: #7E92AC;
}

div.pc-graf img{
    max-width: 100%;
}

.beneficios div button{
    padding: 10px 20px;
    font-size: .8rem;
    border: none;
    cursor: pointer;
    margin: 30px 0px;
    border-radius: 5px;
    font-weight: bold;

    color: #FBFCFE;
    background-color: #0F3FD3;
}

.depoimentos-container h1{
    text-align: center;
    font-size: 2rem;
    margin-top: 100px;
    margin-bottom: 70px;
}

.depoimentos-container p{
    padding: 15px 0px;
    font-size: .7rem;

    color: #7E92AC;
}

.depoimentos-container{
    margin-top: 100px;
    margin: 0 auto;
    width: 90%;
}

.depoimentos-items{
    text-align: center;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.depoimentos-items .item-slider1{
    padding: 20px;
    width: 40%;

    box-shadow: 0px 20px 50px #70707016;
}
.depoimentos-items .item-slider2{
    padding: 20px;
    width: 29%;

    box-shadow: 0px 20px 50px #70707016;
}
.depoimentos-items .item-slider3{
    padding: 20px;
    width: 29%;

    box-shadow: 0px 20px 50px #70707016;
}

.formulario{
    width: 90%;
    margin: 0 auto;
}

.formulario h1{
    margin: 100px 0px 20px;
    text-align: center;
    font-size: 2rem;

}

.formulario form{
    margin: 0 auto;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.formulario form input, textarea{
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;

    border: 1px solid #7E92AC;
    background-color: #FCFDFF;
    color: #7E92AC;
}

.formulario textarea{
    height: 200px;
    font-size: .8rem;
}

.formulario form input, textarea::placeholder{
    font-size: .7rem;
    font-weight: bold;

}

.formulario form > button{
    background-color: #0F3FD3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 100px;

    font-size: .8rem;
    font-weight: bold;
    color: #FBFCFE;
    padding: 10px;

}

