*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;

}

body{
    width: 100%;
    height: 100%; 
}


header.hero-bkg{
    width: 100%;
    height: 900px;

    background-image: url(image/hero-bkg.svg);
    background-position: center center;
    background-repeat: no-repeat;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    margin: 0 auto;
    width: 80vw;
    height: 100px;
}


header nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
}

header nav ul li{
    padding: 5px 15px 5px 15px;
    
}

header nav ul li:nth-child(4){
    border-radius: 5px;
    background-color: #0F3FD3;
}

header nav ul button{
    padding: 5px 15px 5px 15px;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    background-color: #0F3FD3;
    color: #ffffff;

}

header nav ul li a{
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;

    color: #ffffff;
}

header nav ul li a:hover{
    border-bottom: 3px solid #FFDD33;
}

section.slogan{
    margin: 0 auto;
    width: 100%;
}

.slogan > h3{
    margin-top: 50px;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: -35px;

    color: #ffffff;
}
.slogan > h3 > strong{
    font-size: 2.5rem;
}

.slogan p{
    font-size: 1rem;
    margin-bottom: 50px;
}

.slogan img{
    max-width: 100%;
}

picture{
    margin: 0 auto;
    width: 80vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

picture > img{
    width: 16vw;
}

section.pq-nos{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    background-color: #FBFCFE;

}

section.pq-nos > h1{
    font-size: 2rem;
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;

    color: #040404;
}

section.pq-nos > p{
    text-align: center;
    font-size: 0.8rem;

    color: #7E92AC;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    gap: 20px;
}

.cards .cards-item{
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 25vw;

    box-shadow: 0px 0px 10px 0px #0000005b;
    border-radius: 10px;
}

.cards .cards-item img{
    margin-left: -10px;
}

.cards .cards-item h1{
    font-size: 1rem;
    padding: 20px;
}

.cards .cards-item p{
    font-size: 0.8rem;
    padding: 20px;

    color: #7E92AC;
}

.banner{
    width: 100%;

    background-image: url(image/banner-img.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    text-align: center;
}

.banner h1{
    font-size: 1.8rem;
    padding: 50px 0px 20px;

    color: #ffffff;

}

.banner p{
    font-size: 0.8rem;

    color: #ffffff;
}

.banner button{
    padding: 10px 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    font-weight: bold;
    font-size: 0.8rem;

    color: #0F3FD3;
    background-color: #FFDD33;
    box-shadow: 0px 0px 10px 0px #000000;
}

.beneficios{
    width: 80vw;
    margin: 0 auto;
    margin-top: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.beneficios > div{
    width: 50%;
}

.beneficios > div > h1{
    font-size: 2rem;
}

